:root {
  --text-color: #757575;
  --page-color: #ffffff;
  --bg-title: #2f303a;
  --accent: #212121;
  --logo-color-web: #2196f3;
  --logo-color-studio: #000000;

  /* Переход */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* body */
.body {
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  padding: 0;
}

/*Блочная панель */

/* Reset css */
h1,
h2,
h3,
p,
li,
ul {
  margin: 0;
  padding: 0;
}

.conteiner {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*  Хедер */
.header {
  border-bottom: 1px solid #ececec;
}

.site-nav {
  display: flex;
}

.site-nav .item + .item {
  margin-left: 50px;
}

/* Логотип */
.logo {
  margin-right: 94px;

  color: var(--logo-color-web);
  font-family: "Raleway", cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.03em;

  min-width: 145px;
}

.logo .accent {
  color: var(--logo-color-studio);
}

footer .logo span {
  color: var(--page-color);
}

.anim-ls {
  animation: logo 2s ease 1s backwards;
}

@keyframes logo {
  0% {
    opacity: 0;
    letter-spacing: -0.6em;
  }

  100% {
    opacity: 1;
    letter-spacing: 0.03em;
  }
}

/* хеадер разделы */
.top-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--accent);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  list-style: none;
  text-decoration: none;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);
}

/* подчеркивание и точки */
.list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

/* изменение цвета хеадер разделы  */
.top-link:hover,
.top-link:focus {
  color: var(--logo-color-web);
}

.current {
  color: var(--logo-color-web);
  position: relative;
  display: block;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--logo-color-web);
}

/* Линия */
.current::after {
  position: absolute;
  border-radius: 2px;
  display: block;
  content: "";
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--logo-color-web);
}

/* хеадер почта/телефон */
.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 52px;
}

.main {
  display: flex;
  align-items: center;
}

.contacts-link {
  display: flex;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  list-style: none;
  text-decoration: none;
  letter-spacing: 0.02em;
  align-items: center;

  transition: color 250ms var(--timing-function);
}

/*  Иконки */
.contacts-icon-mail,
.contacts-icon-tel {
  display: inline-block;
  fill: currentColor;
  margin-right: 10px;
  align-items: baseline;
}

/* Главный заголовок */
.title {
  margin-top: 0;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;

  color: var(--page-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
}

/*Секция с кнопкой */

.caption {
  padding: 200px 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-title);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/fon.jpg);
  height: 600px;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title-button {
  display: inline-block;
  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--page-color);
  background-color: var(--logo-color-web);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  transition: background-color 250ms var(--timing-function);
}

/* Загаловки h3 */
.title-text {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 10px;
  margin-right: 0;

  color: var(--accent);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* изменение цвета кнопки */
.title-button:hover,
.title-button:focus {
  background-color: #188ce8;
}

/* Модальное окно */

/* Подложка  */

.backdrop {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 500ms ease, visibility 500ms ease;
}

/* Окно */
.backdrop.is-hidden {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  z-index: 1;
}

.body.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  min-height: 581px;

  background-color: var(--page-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 40px;
}

/* Крестик */
.modal-close-button {
  position: absolute;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: fill 250ms var(--timing-function);
}

.modal-close-icon {
  width: 100%;
  height: 100%;
}

.modal-close-button:hover,
.modal-close-button:focus {
  fill: var(--logo-color-web);
}

/* Форма для внесения данных * //////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/* Заголовок  */
.title-modal {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent);
}
/* Форма */
.form {
  width: 448px;
  height: 342px;
  margin-top: 12px;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}

/* Секция */
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
  color: var(--text-color);
}

/* Строка */
.form-input {
  width: 100%;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: transparent;
  padding: 12px;
  padding-left: 42px;
  transition: border-color 250ms var(--timing-function);
  cursor: pointer;
}

/* Лейбл */
.form-name {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
/* Иконки */
.modal-icon {
  position: absolute;
  display: inline-block;
  fill: var(--accent);
  text-align: center;
  top: 30px;
  left: 12px;
  right: 12px;
  transition: fill 250ms var(--timing-function);
}
/*  Комменты */
.comment {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms var(--timing-function);
  cursor: pointer;
}

/* Изменение цвета при ховере */
.form-input:focus,
.form-input:hover {
  border-color: var(--logo-color-web);
}

.form-input:focus + .modal-icon,
.form-input:hover + .modal-icon {
  fill: var(--logo-color-web);
}

.comment:focus,
.comment:hover {
  border-color: var(--logo-color-web);
}

/* Условия */
.agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

}

.agreement-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-left: 8px;
}

.agreement-link {
  text-decoration-line: underline;
  color: var(--logo-color-web);
  text-underline-position: under;
}


/* Стили для checkbox */
.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--accent);
  transition: background-color 250ms var(--timing-function), border-color 250ms var(--timing-function);
  
}

.agreement-checkbox:checked + .custom-checkbox {
  background-color: var(--logo-color-web);
  border-color: transparent;
}

/* Кнопка формы */
.form-button {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--page-color);
  background-color: var(--logo-color-web);
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  border: transparent;
  cursor: pointer;
  margin-top: 30px;
  transition: background-color 250ms var(--timing-function);
}

.form-button:hover,
.form-button:focus {
  background-color: #188ce8;
}

/* Секция с текстом ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.section-text {
  padding-top: 94px;
}

.benefits {
  width: 270px;
}

.section-benefits {
  display: flex;
  justify-content: center;
}

.benefits:nth-child(-n + 3) {
  margin-right: 30px;
}

.benefits:last-child {
  margin-right: 0;
}

/* Иконки */
.title-text-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 25px 100px;
}

/* Скрытый заголовок */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* абзацы после h3 */
.text {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}

/* Секция с фото */
.conteiner-foto {
  padding: 94px 0;
}

.site-foto {
  display: flex;
  flex-basis: 370px;
  text-align: center;
}

.site-foto .item-foto + .item-foto {
  margin-left: 30px;
}

/* Текст на фото*/
.item-foto {
  position: relative;
}

.item-foto > .text-foto {
  position: absolute;
  top: 224px;
  right: 0;
  left: 0;
  margin: 0;
  color: var(--page-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
  cursor: pointer;
}

/* Заголовок h2 */
.title-foto {
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 50px;
  margin-right: auto;

  color: var(--accent);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Команда ФИО */
.team-section {
  padding: 94px 0;
  background: #f5f4fa;
}

.group {
  display: flex;
  text-align: center;
}

.group .card + .card {
  margin-left: 30px;
}

.card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.group-mine {
  flex-basis: 270px;
}

.team {
  margin-bottom: 10px;

  color: var(--accent);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

/* Должность */
.text-team {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.text-card {
  padding: 30px 32px;
}

/* Иконки */
.socials-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 16px;
}

.socials-item {
  border-radius: 50%;
  background-color: var(--page-color);
  width: 44px;
  height: 44px;
  transition: background-color 250ms var(--timing-function);
}

.socials-list .socials-item + .socials-item {
  margin-left: 10px;
}

.socials-item:first-child {
  margin-left: 0px;
}

.socials-link {
  display: flex;
  fill: #afb1b8;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: fill 250ms var(--timing-function);
}

.socials-link:hover,
.socials-link:focus {
  fill: var(--page-color);
}

.socials-item:hover,
.socials-item:focus {
  background-color: var(--logo-color-web);
}

/* Секция клиенты */
.clients {
  color: #e5e5e5;
  padding: 94px 0;
}

.clients-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  list-style: none;
  cursor: pointer;
}

.clients-item {
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition: border-color 250ms var(--timing-function);
}

.clients-icon {
  display: flex;
  fill: #afb1b8;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: fill 250ms var(--timing-function);
}

.clients-list .clients-item + .clients-item {
  margin-left: 30px;
}

.clients-items:first-child {
  margin-left: 0;
}

.clients-icon:hover,
.clients-icon:focus {
  fill: #2196f3;
}

.clients-item:hover,
.clients-item:focus {
  border-color: #2196f3;
}

/* Футер */
.footer {
  padding: 60px 0;
  background: #2f303a;
}

.footer-logo {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
}

.address .add + .add {
  margin-bottom: 9;
}

/* футер почта/телефон */
.address {
  font-size: 14px;
  line-height: 2;
  list-style: none;
  font-style: normal;
  letter-spacing: 0.03em;
}

.page-address {
  color: var(--page-color);
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}

.page-address-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}

/* изменение цвета футер */
.page-address:hover,
.page-address:focus {
  color: var(--logo-color-web);
}

.page-address-link:hover,
.page-address-link:focus {
  color: var(--logo-color-web);
}

/* Иконки */
.conteiner-footer {
  display: flex;
  align-items: baseline;
}

.footer-section {
  display: inline-block;
  margin-right: 70px;
}

.footer-next {
  display: inline-block;
}

.footer-next-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--page-color);
  margin-top: 0;
  margin-bottom: 20px;
}

.socials-list-footer {
  display: flex;
  justify-content: center;
  list-style: none;
}

.socials-item-footer {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  transition: background-color 250ms var(--timing-function);
}

.socials-list-footer .socials-item-footer + .socials-item-footer {
  margin-left: 10px;
}

.socials-item-footer:first-child {
  margin-left: 0px;
}

.socials-link-footer {
  display: flex;
  fill: var(--page-color);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: fill 250ms var(--timing-function);
}

.socials-link-footer:hover,
.socials-link-footer:focus {
  fill: var(--page-color);
}

.socials-item-footer:hover,
.socials-item-footer:focus {
  background-color: var(--logo-color-web);
}

/* Форма футера */
.footer-form {
  list-style: none;
  margin-left: 93px;
}

.footer-form-input {
  padding-left: 15px;

  display: block;
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #2f303a;
  outline: transparent;
  transition: border-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
/* Смена цвета */
.footer-form-input:focus,
.footer-form-input:hover {
  border-color: var(--logo-color-web);
}

.footer-modal-section {
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer-form-button {
  display: flex;
  text-align: center;
  align-items: center;

  width: 200px;
  height: 50px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--page-color);
  background: var(--logo-color-web);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  padding-left: 30px;
  cursor: pointer;
}

.footer-modal-icon {
  margin-left: 10px;
  margin-right: 8px;
}

/* Портфолио ////////////////////////////////////////////////////////////*/

/* Загаловки */
.subject {
  color: var(--accent);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

/* Подзаголовок */
.subtitle {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
}

/*  Список кнопок */
.portfolio {
  padding: 94px 0;
}

.list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.list-button .item-btn + .item-btn {
  margin-left: 8px;
}

.btn {
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;

  color: var(--accent);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  cursor: pointer;
  background: #f5f4fa;
  text-align: center;
  letter-spacing: 0.03em;
  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

/* изменение цвета кнопок */

.btn:hover,
.btn:focus {
  background-color: var(--logo-color-web);
  color: var(--page-color);
}

/* Cписок карточек */
.size {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  background: #ffffff;
  box-sizing: border-box;

  position: relative;
  overflow: hidden;
}

.flex-conteiner {
  display: flex;
  flex-wrap: wrap;
}

.element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
}

.element:nth-child(3n) {
  margin-right: 0;
}
.element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* Тень */
.element-link {
  display: block;
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms var(--timing-function);
}

.element-link:hover,
.element-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.btn-link {
  display: block;
}

.btn-link:hover,
.btn-link:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Анимация для карточки портфолио */
.element-link > .element-text {
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--page-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.element-link:hover .element-text,
.element-link:focus .element-text {
  transform: translateY(0);
}
