// Шрифты////////////////
$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", cursive;

// Цвета///////////////////////

$text-color: #757575;
$page-color: #ffffff;
$bg-title: #2f303a;
$accent: #212121;
$logo-color-web: #2196f3;
$logo-color-studio: #000000;
  
    /* Переход */
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
